.about

  %br
    We are boys and girl from Freiburg (Germany). 
  %br
    We like to join our time with music. 
  %br
    Thanks for stopping by. Enjoy
  %br
  %br
    If you running a Netlabel don't hesitate to contact us via promo at alfadeo de!

